/* General styles*/
* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #2e0249;
  --color-secundary: #a91079;
  --color-white: #eeeeee;
}

body {
  background-color: var(--color-primary);
  color: var(--color-white);
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 1.25rem;
  display: grid;
  grid-template-areas: "section1 section2 section2";
}

/* Information section*/
section#infos {
    position: absolute;
    height: 95vh;
    padding: 1.25rem;

    display: flex;
    flex-direction: column;
    row-gap: 1.25rem; 
}

section#infos h1 {
    font-size: 2.1rem;
}

#text-decoration {
    color: #a91079;
}

#contact li {
    list-style: none;
    font-size: 1.2rem;
    padding: 1.25rem 3.75rem 1.25rem 0.9rem;
}

#contact li > i {
    color: var(--color-secundary);
    margin-right: 0.3rem;
}

#contact li:hover {
    background-color: #a910791c;
    border: 2px solid var(--color-secundary);
    border-radius: 0.62rem;
}

#social-media li {
    display: inline;
    list-style: none;
    font-size: 1.5rem;
    padding: 0.938rem;
}

#social-media li {
    margin-right: 2.5rem;
}

#social-media li:hover {
    background-color: #a91079;
    border-radius: 2.5rem;
}

/* Form section*/
section > div#form {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 50vw;
  height: 90vh;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;

  background-color: var(--color-white);
  color: #2e0249;
  border-radius: 1.25rem;
  padding: 1.875rem;
  overflow: hidden; /*to not leak content outside the border*/
}

fieldset {
  border: none;
}

.custom-radio {
  display: none;
}

.options {
  display: inline-block;
  background-color: var(--color-white);
  color: #999999;
  border: 1px solid #999999;
  border-radius: 0.5rem;
  padding: 0.625rem 1.125rem;
  margin: 0.625rem 0.188rem 0 0.188rem;
  cursor: pointer;
}

.custom-radio:checked + .options {
  background-color: var(--color-secundary);
  color: white;
  border: 0 none;
}


.field {
  position: relative;
  margin-top: 0.625rem;
  padding: 0.625rem;
}

.field textarea {
    resize: none;
}

.field input, .field textarea {
  display: block;
  width: 100%;
  height: 2.813rem;

  background-color: var(--color-white);
  font-size: 0.95rem;
  border: 0 none;
  border-bottom: 0.188rem solid #9999997b;
  padding: 0.625rem 0 0 0.1rem;
}

.field input:focus, .field textarea:focus {
  outline: none;
  border-bottom: 0.188rem solid var(--color-secundary);
}

input:focus::placeholder {
  color: var(--color-primary);
}

.field i {
  position: absolute;
  top: 35%;
  right: 1rem;
  display: none;
}

.errorPoint {
  color: #ff0000;
  right: 1.25rem;
}

.successPoint {
  position: sticky;
  color: #008000;
  right: 1.25rem;
}

.s-required{
  font-size: 0.938rem;
  margin: 0;
  display: none;
}


/* Button 'Send Message'*/
.btn {
  position: absolute;
  top: 85%;
  left: 5%;

  background-color: #a91079;
  width: 40%;
  border-radius: 0.625rem;
  padding: 0.938rem;
}

button, button input {
  position: relative;
  color: var(--color-white);
  font-size: 0.875rem;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

button {
  width: 100%;
}


/*Styles for grid items */
section#infos {
  grid-area: section1;
}

section#contact-form {
  grid-area: section2;
}

#text {
  flex: 1;
}

#contact {
  display: flex;
  align-items: center;
  flex: 2;
}

#social-media {
  display: flex;
  flex: 1;
  align-items: flex-end;
}
