* {
  font-family: "Poppins";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-primary: #2e0249;
  --color-secundary: #a91079;
  --color-white: #eeeeee;
}

body {
  background-color: var(--color-primary);
  color: var(--color-white);
  
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: grid;
  grid-template-areas: "section1 section2 section2";
}

section#infos {
    position: absolute;
    padding: 20px;
    grid-area: section1;
}

section#infos > h1 {
    font-size: 2.1rem;
}

#text-decoration {
    color: #a91079;
}

ul {
    list-style: none;
}

section#contact-form {
    grid-area: section2;
}

section > div#form {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 50vw;
  height: 90vh;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;

  background-color: var(--color-white);
  color: #2e0249;
  border-radius: 20px;
  padding: 30px;
  overflow: hidden; /*to not leak content outside the border*/
}

fieldset {
  border: none;
}

input[type="radio"] {
  display: none;
}

.options {
  display: inline-block;
  background-color: var(--color-white);
  color: #999999;
  border: 1px solid #999999;
  border-radius: 8px;
  padding: 10px 18px;
  margin: 10px 3px 0px 3px;
  cursor: pointer;
}

.field {
  margin-top: 10px;
  padding: 10px;
  position: relative;
}

.field textarea {
    resize: none;
}

.field input,
.field textarea {
  display: block;
  width: 100%;
  height: 45px;

  background-color: var(--color-white);
  font-size: 14px;
  border: 0 none;
  border-bottom: 3px solid #9999997b;
  padding: 10px 0px 0px 3px;
}

.btn {
  position: absolute;
  top: 85%;
  left: 5%;
  background-color: #9999997b;
  width: 40%;
  border-radius: 10px;
  padding: 15px;
}

button,
button input {
  position: relative;
  color: var(--color-white);
  font-size: 14px;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

button {
  width: 100%;
}
