body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2e0249;
    color: white;
    height: 100vh;
    margin: 0;
}

#container {
  background-color: #eeeeee;
  color: #2e0249;
  border-radius: 1.25rem;
  padding: 1.875rem;
  overflow: hidden;
}